<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Index')"></head>

<body>
<nav th:replace="partials/navbar :: navbar"></nav>


<div class="card p-3" th:each="post : ${posts}" >
    <h1 th:text="${post.title}"></h1>
    <p th:text="${post.body}"></p>
    <input type="hidden" name="id" th:value="${post.id}">
    <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="btn btn-warning">Edit post</a>
    <form th:action="@{'/posts/' + ${post.id} + '/delete'}" method="post">
        <button class="btn btn-danger btn-block">Delete post</button>

    </form>
</div>
</body>
</html>