<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--<script>-->
<!--    $(document).ready(function() {-->

<!--        // Check for click events on the navbar burger icon-->
<!--        $(".navbar-burger").click(function() {-->

<!--            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"-->
<!--            $(".navbar-burger").toggleClass("is-active");-->
<!--            $(".navbar-menu").toggleClass("is-active");-->

<!--        });-->
<!--    });-->
<!--</script>-->

</body>
</html>